<span id="art_listing">
  <div class="container" >
    <div class="row">
      <div class="span3">
        <select id="filter_art_category" class="medium">
          <option selected='selected'>All</option>
          <option>Image</option>
          <option>Video</option>
          <option>Text</option>
          <option>Combination</option>
        </select>
      </div>
      <div class="span3">
        <select id="filter_art_most" class="medium">
          <option selected='selected'>Most Recent</option>
          <option>Most Liked</option>
          <option>Most Favorited</option>
          <option>Most Viewed</option>
        </select>
      </div>
      <div class="span3">
        <select id="filter_art_time" class="medium">
          <option selected='selected'>All Time</option>
          <option>Today</option>
          <option>This week</option>
          <option>This month</option>
        </select>
      </div>
    </div>
    <span id="art_area">
      <%= render :partial => "shared/art_listing", :collection => @arts %>
    </span>
  </div>
</span>
