
<span id="art_listing">
  <div class="row">
    <div class="span16">
      <h1>Art for user: '<%= @current_user.id %>'</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span1">
        &nbsp
      </div>
      <div class="span8">
        <%= render :partial => "art_listing", :collection => @users_art%>
      </div>
    </div>
  </div>
</span>
