<h1><%=@user.email%></h1>
<div class="container-fluid">
  <div class="sidebar">
    <div class="well" style="height:400px">
      <select id="user_page_select" class="medium" name="multiSelect" multiple="multiple" size="5">
        <option value="myart" selected="selected">My Art</option>
        <option value="show_favorites">Favorites</option>
        <option value="subscriptions">Subscriptions</option>
        <option value="messages">Messages</option>
        <option value="settings">Settings</option>
      </select>
    </div>
  </div>
  <div id="user_page_main" class="content">

  </div>
</div>
