<div class="topbar-wrapper" style="z-index: 5;">
	<div class="topbar" data-dropdown="dropdown" >
		<div class="topbar-inner">
			<div class="container">
				<h3><a href="/areequal">AreEqual</a></h3>

				<div class="pull-left" style="margin-top:5px">
					<input id="landing-search-box" type="text" placeholder="Search" />
				</div>

				<ul class="nav">
					<li class="active"><a href="/areequal">Home</a></li>
					<li><a href="/areequal/about">About</a></li>
					<li><a href="/areequal/browse">Browse</a></li>
					<li><a href="/areequal/arts/new">Create Art</a></li>
					<li><a href="/areequal/blog">Blog</a></li>
				</ul>
        
				<ul class="nav secondary-nav">
          <% if !@user %>
          <li>
              <%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook), {:style => "margin-top:5px; height:14px; display:inline-block", :class => "btn small primary"} %>
              <%= link_to "Login with Google", user_omniauth_authorize_path(:google), {:style => "margin-top:5px; height:14px; display:inline-block", :class => "btn small success"} %>
          </li>
          <% else %>
					<li id="login-dropdown" class="dropdown" style="">
						<a id="logged-in-as" href="#" class="dropdown-toggle">Logged in as: <%= @user.email %></a>
						<ul class="dropdown-menu">

							<li><a href="/areequal/show_user_art">Edit Art</a></li>
							<li><a href="/areequal/modify_profile">Edit profile</a></li>
							<li class="divider"></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
						</ul>
					</li>
          <% end %>
				</ul>

			</div>
		</div><!-- /topbar-inner -->
	</div><!-- /topbar -->
</div><!-- /topbar-wrapper -->
