<div class="topbar-wrapper" style="z-index: 5;">
	<div class="topbar" data-dropdown="dropdown" >
		<div class="topbar-inner">
			<div class="container">
				<h3><a href="/areequal">AreEqual</a></h3>

				<form class="pull-left" action="">
					<input type="text" placeholder="Search" />
				</form>

				<ul class="nav">
					<li class="active"><a href="/areequal">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/browse">Browse</a></li>
					<li><a href="/areequal/arts/new">Create Art</a></li>
					<li><a href="/blog/index">Blog</a></li>
				</ul>
        
				<ul class="nav secondary-nav">
          <li>
            <button id="login-facebook-button" class="btn small primary" style="margin-top:4px; display:none">Log in with facebook</button> 
            <button id="login-google-button" class="btn small success" style="margin-top:4px; display:none">Log in with google</button> 
          </li>
					<li id="login-dropdown" class="dropdown" style="display: none;">
						<a id="logged-in-as" href="#" class="dropdown-toggle">Dropdown</a>
						<ul class="dropdown-menu">

							<li><a href="#">Edit Art</a></li>
							<li><a href="/areequal/edit_profile">Edit profile</a></li>
							<li class="divider"></li>
							<li><a id="logout-button" href="#">Log out</a></li>
						</ul>
					</li>
				</ul>

			</div>
		</div><!-- /topbar-inner -->
	</div><!-- /topbar -->
</div><!-- /topbar-wrapper -->
