<span id="art_listing">
    <div class="row">
      <div class="span16">
        <h1>Search term: '<%= @search_term %>'</h1>
      </div>
    </div>
    <%= render :partial => "shared/art_listing", :collection => @arts_found %>
</span>
