<span id="art_listing">
    <div class="row">
      <div class="span16">
        <h1>Search term: '<%= @search_term %>'</h1>
      </div>
    </div>
    <% if @arts_found.first == nil %>
      There is no art that matches the search term
    <% else %>
      <%= render :partial => "shared/art_listing", :collection => @arts_found %>
    <% end %>
</span>
